@model IEnumerable<odeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@VirtualPath
<p>
    @Html.ActionLink("Create New", "create")
</p>
<table class="table">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Body)
        </th >
        <th>
            @Html.DisplayNameFor(model => model.ReviewerName)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.RestaurantId)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td scope="row">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
